@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-red-50: #ffe3e3;
  --color-red-100: #ffbdbd;
  --color-red-200: #ff9b9b;
  --color-red-300: #f86a6a;
  --color-red-400: #ef4e4e;
  --color-red-500: #e12d39;
  --color-red-600: #cf1124;
  --color-red-700: #ab091e;
  --color-red-800: #8a041a;
  --color-red-900: #610316;

  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;

  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;
  --color-yellow-600: #d97706;
  --color-yellow-700: #b45309;
  --color-yellow-800: #92400e;
  --color-yellow-900: #78350f;
  --color-yellow-950: #451a03;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #052e16;

  --color-white: #ffffff;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body,
#__next {
  height: 100%;
}

html {
  /* Fixes issue where nav links shifted when navigating between pages that had/didn't have a scrollbar */
  padding-left: calc(100vw - 100%);
}

.home-triangle-left {
  @apply h-0 w-0;

  border-top: 8rem solid transparent;
  border-bottom: 8rem solid transparent;
  border-left-style: solid;
  border-left-width: 50vw;
}

.home-triangle-right {
  @apply h-0 w-0;

  border-top: 8rem solid transparent;
  border-bottom: 8rem solid transparent;
  border-right-style: solid;
  border-right-width: 50vw;
}

.packageCheckbox:first-of-type {
  @apply rounded-t border border-gray-100;
}

.packageCheckbox:not(:first-of-type) {
  @apply border-l border-r border-b border-gray-100;
}

.packageCheckbox:last-of-type {
  @apply rounded-b border-b border-l border-r border-gray-100;
}
